body {
  text-align: center;
  font-family: Helvetica;
}

#title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

 a {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#copyright {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

#middlebar {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}
